@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}
body{
  height: 100vh;
}

#main-content .tags .tagSelected{
  background-color: #bbbbbb;
}

#hamburger{
  margin-top: 23px;
}

.selected{
  color: red;
}

.navbar .main-bar{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

.navbar .main-bar #hamburger{
  width: fit-content;
  height: fit-content;
}

.navbar #hamburger div{
  width: 20px;
  height: 2px;
  background-color: rgb(94, 94, 94);
  margin: 3px 1.5em 0 1.6em;
  border-radius: 5px;
}

.navbar .main-bar  .YtLogo{
  width: 120px;
  height: 56px;
  padding: 5px 0px 14px 0px;
}

 #youtubeLogo{
  width: 120px;
  height: 56px;
}

.navbar .logo #Ytlogo{
  height: 50%;
  width: 15px;
  margin-top: 6px;
}

.search-bar{
  width: 650px;
  height: 34px;
  margin: 2px 0px 15px 100px;
  padding-left: 20px;
}

.search-bar .textField{
  height: 26px;
  margin-left: 10px;
}

.search-bar .textField input{
  height: 100%;
  width: 85%;
  margin-top: 15px;
  border: 1.3px solid  #d6d6d6;
}

.search-bar .fa-search{
  position: absolute;
  width: 58px;
  background-color: #f0eeee;
  padding: 7px 30px 20px 20px;
  top: 16px;
  height: 18px;
  border: 1.3px solid  #d6d6d6;
  color: #9e9898;
  margin-left: 0.2px;
}


.search-bar #search{
  padding-left: 15px;
  font-size: 20px;
  
}

.search-bar #search::placeholder{
  color: #a7a7a7;
  font-size: 15px;
}

.search-bar #search:focus{
  outline: 1.1px solid rgb(115, 169, 220);
}

.search-bar .fa-microphone{
  color: #9e9898;
  margin-top: -9px;
  float: right;
  margin-left: 60px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
}

.fa-th{
  margin: 20px 0 0 200px;
  font-size: 20px;
  color: #5e5d5d;
}

  .navbar .fa-ellipsis-v{
    margin: 20px 0 0 30px;
    font-size: 20px;
  }

  .navbar .account{
    border: 1px solid rgb(10, 25, 232);
    margin: 10px 0 0 35px;
    max-width: 120px;
    height: 40px;
    padding: 9px;    
  }

  .navbar .account a{
    color: blue;
    font-weight: bold;
    font-size: 14px;
  }
  .navbar .account a i{
    margin-right: 8px;
  }



  .section-content{
    display: flex;
    height: 100vh;
  }


  .bar{
    position: relative;
    margin-top: 7px;    
  }

  .section-content .bar .shownBar{
    width: 72px;
    height: 613px;
    position: absolute;
  }
  .section-content .bar .shownBar div{
    height:70px;
    width: 72px;
    font-size: 12px;
    color: #707070;
  }
  .sidebar-icon{
    height: 24px;
    width: 24px;
  }
  .sidebar-homeIcon{
    height: 25px !important; 
    width: 10px;
    padding: 10px 5px 5px 22px;
  }

  .sidebar-homeLegends{
    margin: 3px 0 0 15px;
  }

  .hovering:hover{
    background-color: #e2e2e2;
  }


.hiddenBar{
  display: none;
  position: absolute;
  height: 669px;
  width: 240px;
}
.hlogo{
  display: flex;
}

.hlogo #hamburger{
  margin-top: 40px;
  width: 50px;
}


.hlogo #hamburger div{
  width: 20px;
  height: 2px;
  background-color: rgb(94, 94, 94);
  margin: 3px 1.5em 0 1.6em;
  border-radius: 5px;
}


.hiddenBar .hlogo img{
  height: 56px;
  width: 120px;
  margin: 20px 18px 20px 10px;
}

.components{
  height: inherit;
}
.components .hbuttons{
  width: 240px;
  height: 40px;
}

.components .hbuttons a{
  margin: 40px;
}

.components .hbuttons a span{
  margin-left: 20px;
  font-weight: bold;
}


.components .hbuttons:hover{
  background-color: #c2c2c2;
}



.main-area{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 70px;
  
}

.main-area .tags {
  display: flex;
  width: 100%;
  height: 56px;
  font-size: 12px;
  justify-content: space-around;
  border-top: 1.3px solid #cecece;
  border-bottom: 1.3px solid #cecece;
}

.main-area .tags div{
  margin: 5px 0 7px 0px;
  width: 90px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f5; 
  padding-top: 7px;
  border: 0.8px solid #aeadad;
  margin-top: 10px;
  border-radius: 20px;
}
.videos{
  background-color: #F9F9F9;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;  
}

.videos .video{
  width: 260px;
  margin: 12px 15px 15px 15px;
  height: 240px;
}

.videos .video .thumbnail{
  height: 126px;
}

.videos .video .thumbnail img{
  height: 100%;
  width: 100%;
}

.videos .video .details{
  display: flex;
  width: 290px;
}

.videos .video .details .channel{
  width: 37px;
  height: 37px;
  border-radius: 60px;
  margin: 10px 5px 10px 5px;
}

.videos .video .details .channel img{
  height: 100%;
  border-radius: 75px;
}

.videos .video .details .stats .title{
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
  line-height: 1.2;
}

.videos .video .details .stats .data {
  color: #5e5d5d;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 2px 7px;
}
